[submodule "external/EEGLAB"]
	path = external/EEGLAB
	url = https://github.com/sccn/eeglab.git
[submodule "external/brainstorm3"]
	path = external/brainstorm3
	url = https://github.com/brainstorm-tools/brainstorm3.git
